body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 1.25rem "Lobster", "currsive";
  /* font-weight, font-size, font-family */
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0,0,0, 0.5);
}